<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Danh sách khách hàng xóa</title>

<!-- Custom fonts for this template-->
<link th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link th:href="@{/admin/vendor/datatables/dataTables.bootstrap4.css}"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/admin/css/sb-admin.css}" rel="stylesheet">

<link th:href="@{/admin/css/my-style.css}" rel="stylesheet">

<link
	href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
	rel="stylesheet">
<style type="text/css">
#dataTable-remove-sp {
	display: none
}
;
</style>

</head>

<body id="page-top">

	<nav th:replace="~{/admin/header:: header-fragment}"></nav>

	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:replace="~{/admin/sidebar :: sidebar-fragment}">

		</ul>

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/admin/index}">Trang chủ</a></li>
					<li class="breadcrumb-item"><a th:href="@{/admin/khachHang}">Khách hàng</a></li>
					<li class="breadcrumb-item active">Đã xóa</li>
				</ol>

				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header form-inline">
						<i class="fas fa-user-slash"></i> <b>Danh sách khách hàng đã
							xóa</b>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable-remove-sp"
								width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>ID</th>
										<th>HỌ TÊN</th>
										<th>SĐT</th>
										<th>EMAIL</th>
										<th>NGÀY ĐĂNG KÝ</th>
										<th>NGÀY XÓA</th>
										<th>ACTIONS</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>ID</th>
										<th>HỌ TÊN</th>
										<th>SĐT</th>
										<th>EMAIL</th>
										<th>NGÀY ĐĂNG KÝ</th>
										<th>NGÀY XÓA</th>
										<th>ACTIONS</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="item : ${listKhachHangXoa}">
										<td th:text="${item.idKhachHang}"></td>
										<td th:text="${item.hoTen}"></td>
										<td th:text="${item.sdt}"></td>
										<td th:text="${item.email}"></td>
										<td th:text="${item.ngayDK}"></td>
										<td th:text="${item.ngayXoa}"></td>
										<td><button type="button"
												class="btn btn-info check-button getsp" data-toggle="modal"
												data-target="#exampleModal" th:id='${item.idKhachHang}'
												th:data-id='${item.idKhachHang}'
												onclick="getKhachHangById(this.id)">
												<i class="fas fa-search-dollar"></i>
											</button></td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="card-footer small text-muted">Updated yesterday
						at 11:59 PM</div>
				</div>
			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<footer th:replace="~{/admin/footer :: footer-fragment}"> </footer>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Sẵn sàng rời
						đi?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn đã
					sẵn sàng kết thúc phiên hiện tại của mình.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Hủy</button>
					<a class="btn btn-primary" th:href="@{/admin/login}">Đăng xuất</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<form th:action="@{/admin/khachHang}" th:object="${khachHang}"
		id="dataForm-getsp" method="post">
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							<i class="fas fa-book-reader"></i>Chi tiết khách hàng
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="modal-body">
							<div class="row p-bottom-15">
								<div class="col-md-6">
									<div class="checkout-form-list">
										<label>ID Khách hàng: </label> <input id="idKhachHang"
											type="text" class="form-control" disabled="disabled" />
									</div>
								</div>

								<div class="col-md-6">
									<div class="checkout-form-list">
										<label>Họ tên: </label> <input id="hoTen" type="text"
											class="form-control" disabled="disabled" />
									</div>
								</div>
							</div>
							<div class="row p-bottom-15">
								<div class="col-md-6">
									<div class="checkout-form-list">
										<label>SĐT: </label> <input id="sdt" type="text"
											class="form-control" disabled="disabled" />
									</div>
								</div>

								<div class="col-md-6">
									<div class="checkout-form-list">
										<label>Email: </label> <input id="email" type="text"
											class="form-control" disabled="disabled" />
									</div>
								</div>
							</div>
							<div id="errorDiaChi" class="row p-bottom-15">
								<div class="col-md-12">
									<div class="checkout-form-list">
										<p type="text" class="form-control bg-warning text-white"
											disabled="disabled">Chưa tạo địa chỉ giao hàng</p>
									</div>
								</div>
							</div>
							<div id="dc0" class="row p-bottom-15">
								<div class="col-md-12">
									<div class="checkout-form-list">
										<label>Địa chỉ 1: </label>
										<textarea id="idc0" type="text" class="form-control"
											disabled="disabled"></textarea>
									</div>
								</div>
							</div>
							<div id="dc1" class="row p-bottom-15">
								<div class="col-md-12">
									<div class="checkout-form-list">
										<label>Địa chỉ 2: </label>
										<textarea id="idc1" type="text" class="form-control"
											disabled="disabled"></textarea>
									</div>
								</div>
							</div>
							<div id="dc2" class="row p-bottom-15">
								<div class="col-md-12">
									<div class="checkout-form-list">
										<label>Địa chỉ 3: </label>
										<textarea id="idc2" type="text" class="form-control"
											disabled="disabled"></textarea>
									</div>
								</div>
							</div>
						</div>

						<div id="info" style="color: green;"></div>

					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- Modal End -->

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Page level plugin JavaScript-->
	<script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>
	<script th:src="@{/admin/vendor/datatables/jquery.dataTables.js}"></script>
	<script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/admin/js/sb-admin.min.js}"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

	<script
		src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	<!-- Demo scripts for this page-->
	<script th:src="@{/admin/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/admin/js/demo/khachHangID.js}"></script>


</body>

</html>
