.wrap-login100{
	border: 2px solid #337ab7;
}

.nameLogo {
	font-size: 2rem;
	margin-top: 15px;
	font-weight: bold;
	color: #337ab7;
	font-family: "Pacifico", monospace;
}

.entry-header-area {
	width: 75%;
	margin-left: 190px;
}

.footer-top-area {
	margin-top: 20px;
}

.customsize {
	width: 75%;
	margin-left: 190px;
}

.about-text {
	margin-top: 55px;
}

.textjustify {
	text-align: justify;
}

.colorme {
	color: #0088CC;
}

.title-promo {
	position: relative;
	left: 60px;
	bottom: 27px;
	background-color: #0088CC;
	color: white;
}

.removeicon {
	color: red;
}

.customcheckbox {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	height: 42px;
	width: 100%;
	padding: 0 0 0 10px;
}

.myshop-pro-content {
	text-align: center;
	margin-top: 35px;
}

.dm_children {
	margin-top: 10px;
	margin-left: 25px;
	font-size: 13px;
}

.dm_children li a:before {
	content: "+" !important;
}

.myborder {
	border: 1px solid #83cbdc;
	min-height: 450px;
}

.f-account-info table, th, td {
	border-top: none !important;
	vertical-align: middle !important;
}

.f-account-info table, th, td {
	border-top: none !important;
	vertical-align: middle !important;
	font-size: 13px;
}

.f-account-info  th, td {
	width: 40px;
	min-width: 40px;
}

.f-account-info  label {
	margin-top: 4px;
}

.f-account-info  button {
	background-color: #0088CC;
}

.f-account-info  .row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.m-10 {
	margin: 10px;
}

.m-top-10 {
	margin-top: 10px !important;
}

.m-top-30 {
	margin-top: 30px;
}

.m-left-80 {
	margin-left: 80px;
}

.m-left-20 {
	margin-left: 20px;
}

.m-bottom-8{
	margin-bottom: 8px;
}

.p-bottom-30{
	padding-bottom: 30px;
	background-color: #F2F2F2;
	margin-right: 0 !important;
    margin-left: 0 !important;
}

.p-bottom-15{
	padding-bottom: 15px;
}

.new_address {
	padding-top: 25px;
	padding-bottom: 25px;
}

.new_address a {
	font-size: 20px;
	width: 100%;
	height: 40px;
}

.address {
	border-top: 1px solid #0088CC;
}

.custom-a-shop {
	height: 250px;
	width: 95%;
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 5px;
}

.font-size-12 {
	font-size: 12px;
}

.font-size-18 {
	font-size: 18px;
}

.boder-product {
	border-radius: 5px 20px 5px;
	border: 2px solid #0088CC;
	height: 410px;
}

.c-hethang{
	background: #FE2E2E none repeat scroll 0 0 !important;
	color: #FFFFFF !important;
}

.c-disabled{
	pointer-events:none;
}

.c-select{
	height: 34px;
	margin-left: 2px;
}

.c-404-sp{
	margin-left: 230px;
    margin-top: 220px;
}

.dis-href{
	pointer-events: none;
    cursor: text;
}

/*12/11/2019/  */

.my-cart-null{
	background: lightgrey;
    height: 150px;
    text-align: center;
    margin-bottom:10px;
}

.my-cart-null h2{ 
	padding-top: 30px;
}

.my-address {
	border: 1px dashed blue;
	background: #FAFAFA none repeat scroll 0 0;
	padding: 10px 30px 0px;
	margin-bottom: 15px;
}

 .my-address .title-address {
	font-size: 18px;
 }
 
 .my-address a {
	font-size: 15px;
	float: right;
 }
 
 .my-address input {
	display: inline-block; 
	margin-right: 10px; 
	position: relative; 
	top: 2px;
 }
 .shop-header-title h1{
 	color: #fff;
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
 
 }
 
 

/* Loading page */
.bg_load {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #EEE;
}

.wrapper {
	/* Size and position */
	font-size: 25px; /* 1em */
	width: 8em;
	height: 8em;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -100px;
	/* Styles */
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	border: 1em dashed rgba(138, 189, 195, 0.5);
	box-shadow: inset 0 0 2em rgba(255, 255, 255, 0.3), 0 0 0 0.7em
		rgba(255, 255, 255, 0.3);
	animation: rota 3.5s linear infinite;
	/* Font styles */
	font-family: 'Racing Sans One', sans-serif;
	color: #444;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 .04em rgba(255, 255, 255, 0.9);
	line-height: 6em;
}

.wrapper:before, .wrapper:after {
	content: "";
	position: absolute;
	z-index: -1;
	border-radius: inherit;
	box-shadow: inset 0 0 2em rgba(255, 255, 255, 0.3);
	border: 1em dashed;
}

.wrapper:before {
	border-color: rgba(138, 189, 195, 0.2);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.wrapper:after {
	border-color: rgba(138, 189, 195, 0.4);
	top: 1em;
	right: 1em;
	bottom: 1em;
	left: 1em;
}

.wrapper .inner {
	width: 100%;
	height: 100%;
	animation: rota 1s linear reverse infinite;
}

.wrapper span {
	display: inline-block;
	animation: placeholder 1s ease-out infinite;
}

.wrapper span:nth-child(1) {
	animation-name: loading-1;
}

.wrapper span:nth-child(2) {
	animation-name: loading-2;
}

.wrapper span:nth-child(3) {
	animation-name: loading-3;
}

.wrapper span:nth-child(4) {
	animation-name: loading-4;
}

.wrapper span:nth-child(5) {
	animation-name: loading-5;
}

.wrapper span:nth-child(6) {
	animation-name: loading-6;
}

.wrapper span:nth-child(7) {
	animation-name: loading-7;
}

@keyframes rota {to { transform:rotate(360deg);
	
}

}
@keyframes loading-1 { 14.28% {
	opacity: 0.3;
}

}
@keyframes loading-2 { 28.57% {
	opacity: 0.3;
}

}
@keyframes loading-3 { 42.86% {
	opacity: 0.3;
}

}
@keyframes loading-4 { 57.14% {
	opacity: 0.3;
}

}
@keyframes loading-5 { 71.43% {
	opacity: 0.3;
}

}
@keyframes loading-6 { 85.71% {opacity: 0.3;}

}
@keyframes loading-7 { 100% {
	opacity: 0.3;
}
}


