<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="">
<meta charset="UTF-8">
<!-- head start -->
<title>vvpThịnh Vượng - Giới thiệu</title>
<head th:replace="~{/user/head :: head-fragment}">

</head>
<!-- head end -->

<body class="home-5">
	<!-- header start -->
	<header th:replace="~{/user/header :: header-fragment}"> </header>
	<!-- header end -->

	<!-- entry-header-area start -->
	<div class="entry-header-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="entry-title">
						<h1>Giới thiệu</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- entry-header-area end -->
	<!-- about-area start -->
	<div class="about-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="about-us-img">
						<img th:src="@{/user/img/about/2.png}" alt="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="about-text">
						<h3>
							Trang bán <i style="color: #337ab7;">Văn phòng phẩm</i>
						</h3>
						<p style="text-align: justify">Với tôn chỉ hoạt động kinh
							doanh “khách hàng là thượng đế”, chúng tôi luôn nỗ lực hết mình
							đáp ứng những nhu cầu tối ưu nhất để làm hài lòng quý khách theo
							phương châm:</p>
						<p style="color: #337ab7; padding-bottom: 3px">Uy tín – Chất
							lượng – Giá cả cạnh tranh - Vận chuyển nhanh - Thanh toán gọn</p>
						<!-- <p style="color:#2eca6a;padding-bottom:3px"> </p> -->
						<p style="text-align: justify">Là cầu nối tin cậy giữa nhà sản
							xuất - nhà phân phối - người tiêu dùng trên lĩnh vực mua bán, sử
							dụng văn phòng phẩm, thiết bị văn phòng đạt chất lượng cao, uy
							tín với chi phí hợp lý.</p>
						<p style="text-align: justify">Công ty rất mong nhận được cơ
							hội cung cấp hàng hóa và các sản phẩm văn phòng phục vụ quý khách
							hàng với những cam kết nêu trên. Chúng tôi hi vọng nhận được hồi
							âm từ phía quý khách.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about-area end -->
	<!-- about-skill-area start -->
	<div class="about-skill-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="section-about-title">
						<h3 class="colorme">CÁC GIÁ TRỊ</h3>
					</div>
					<div class="about-skill">
						<!-- PROGRESS START -->
						<div class="textjustify">
							<p>
								+ <b>Giá trị khác biệt:</b> <strong>Văn phòng phẩm Thịnh Vượng</strong>
								cung cấp cho khách hàng những sản phẩm, dịch vụ gia tăng giá
								trị, tiện ích nhất thoả mãn tối đa việc học tập và làm việc hiệu
								quả.
							</p>
							<p>
								+ <b>Chuẩn mực đạo đức:</b> <strong>Văn phòng phẩm Thịnh Vượng</strong>
								coi trọng chuẩn mực đạo đức nghề nghiệp, trách nhiệm xã hội, tất
								cả vì lợi ích của khách hàng, cộng đồng.
							</p>
							<p>
								+ <b>Đổi mới:</b> Cán bộ, nhân viên <strong>Văn phòng
									phẩm Thịnh Vượng</strong> không ngừng học hỏi, ứng dụng công nghệ hiện đại, cải
								tiến, hoàn thiện, đổi mới sản phẩm.
							</p>
							<p>
								+ <b>Tôn trọng:</b> <strong>Văn phòng phẩm Thịnh Vượng</strong> xây
								dựng môi trường văn hoá công ty tiến bộ, tôn trọng quan điểm, ý
								tưởng của cán bộ, nhân viên, khách hàng. Quyền lợi khách hàng
								được quan tâm đặc biệt với vị trí ưu tiên hàng đầu.
							</p>
						</div>
						<!-- PROGRESS END -->
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="section-about-title">
						<h3 class="colorme">PHƯƠNG CHÂM HÀNH ĐỘNG</h3>
					</div>
					<div class="textjustify">
						<p>
							Đối với <strong>văn phòng phẩm Thịnh Vượng</strong>, sự hài lòng của
							khách hàng là điều quan trọng nhất. Chính vì thế mà tập thể công
							ty chúng tôi đã đang và sẽ tiếp tục cải thiện chất lượng phục vụ
							thông qua những nỗ lực tiêu biểu sau:
						</p>
						<p>– Đáp ứng nhanh chóng và kịp thời nhu cầu sản phẩm phục vụ
							cho hoạt động sản xuất – kinh doanh của quý khách hàng.</p>
						<p>– Chính sách giá đổi hàng và trả hàng miễn phí nhanh chóng
							và điểm mạnh vượt trội so với các nhà cung cấp khác.</p>
						<p>– Là nhà tư vấn, chọn lọc sản phẩm phù hợp với nhu cầu, chi
							phí của quý khách.</p>
						<p>– Chất lượng sản phẩm phải đạt tiêu chuẩn theo đúng yêu cầu
							của nhà sản xuất.</p>
						<p>– Thực hiện nhiều chương trình khuyến mãi định kỳ, tặng
							phẩm và chính sách giảm giá chiết khấu hấp dẫn.</p>
						<p>– Nhân viên nhiệt tình, chu đáo với thái độ nhanh nhẹn, hòa
							nhã.</p>
						<p>– Phương thức thanh toán đa dạng : tiền mặt, chuyển khoản
							hoặc công nợ nhiều ngày.</p>
						<p>Văn phòng phẩm Thịnh Vượng cam kết phục vụ nhiệt tình và tử tế
							nhất mang đến sự hài lòng cho khách hàng. Tuy nhiên trong quá
							trình làm việc sẽ không tránh khỏi những thiếu sót, mong muốn
							nhận được sự chia sẻ để 2 bên hợp tác bền vững.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="section-about-title">
						<h3 class="colorme">CÁC SẢN PHẨM DỊCH VỤ</h3>
					</div>
					<div class="our-work textjustify">
						<p>
							<strong>Văn Phòng Phẩm Thịnh Vượng</strong> tập trung vào các dòng sản
							phẩm chất lượng, thương hiệu nổi tiếng:
						</p>

						<p>+ Giấy in văn phòng: Double A, Idea, Paper One, Subaru,
							Acura, Excel,… khổ A3, A4, A5 định lượng 70g, 80g...</p>
						<p>+ Giấy decal, giấy in liên tục, giấy ghi chú, giấy than với
							các thương hiệu nổi tiếng như Tomy, Liên Sơn, Post-it, Horse…</p>
						<p>+ Bìa thái, bìa thơm, bìa kiếng, bìa lá, bìa lỗ, bìa dây,
							bìa hộp, bìa còng...</p>
						<p>+ Kệ rổ, hộp cắm viết, gáy lò xo, sổ các loại, bao thư,
							tập, sổ kế toán, kim bấm, kẹp giấy...</p>
						<p>+ Băng keo, dao kéo, thước, CD, máy tính, khăn giấy, bột
							giặt, cây lau nhà, găng tay, khẩu trang...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about-skill-area end -->

	<!-- footer start -->
	<footer th:replace="~{/user/footer :: footer-fragment}"> </footer>
	<!-- footer end -->

	<!-- JS -->

	<!-- jquery js -->
	<script th:src="@{/user/js/vendor/jquery-1.11.2.min.js}"></script>

	<!-- bootstrap js -->
	<script th:src="@{/user/js/bootstrap.min.js}"></script>

	<!-- owl.carousel.min js -->
	<script th:src="@{/user/js/owl.carousel.min.js}"></script>

	<!-- slicknav js -->
	<script th:src="@{/user/js/jquery.slicknav.js}"></script>

	<!-- countdown js -->
	<script th:src="@{/user/js/jquery.countdown.min.js}"></script>

	<!-- price-slider js -->
	<script th:src="@{/user/js/price-slider.js}"></script>

	<!-- jquery.scrollUp js -->
	<script th:src="@{/user/js/jquery.scrollUp.min.js}"></script>

	<!-- Lib js -->
	<script
		th:src="@{/user/lib/rs-plugin/js/jquery.themepunch.plugins.min.js}"></script>
	<script
		th:src="@{/user/lib/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
	<script th:src="@{/user/lib/rs-plugin/rs.home.js}"></script>

	<!-- plugins js -->
	<script th:src="@{/user/js/plugins.js}"></script>

	<!-- main js -->
	<script th:src="@{/user/js/main.js}"></script>
	<script src="js/main.js"></script>

</body>

<!-- Tieu Long Lanh -->

</html>