<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="">
<meta charset="UTF-8">

<footer th:fragment="footer-fragment">
	<!-- footer-top-area start -->
	<div class="footer-top-area">
		<div class="container">
			<div class="row">
				<!-- footer-widget start -->
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="footer-widget">
						<a th:href="@{/index}">
							<h3 class="widget-title">Trang chủ</h3>
						</a>
					</div>
				</div>
				<!-- footer-widget end -->
				<!-- footer-widget start -->
				<div class="col-lg-3 col-md-3 hidden-sm">
					<div class="footer-widget">
						<a th:href="@{/shop/all}">
							<h3 class="widget-title">Shop</h3>
						</a>
					</div>
				</div>
				<!-- footer-widget end -->
				<!-- footer-widget start -->
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="footer-widget">
						<a th:href="@{/about}">
							<h3 class="widget-title">Giới thiệu</h3>
						</a>
					</div>
				</div>
				<!-- footer-widget end -->
				<!-- footer-widget start -->
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="footer-widget widget-contact">
						<a th:href="@{/contact}">
							<h3 class="widget-title">Liên hệ</h3>
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="footer-widget widget-contact">
						<ul class="footer-menu">
							<li><i class="fa fa-map-marker"> </i> <strong>Cơ sở</strong>:
								95 Nguyễn Công Trứ, phường Lộc Hòa, thành phố Nam Định, tỉnh Nam
								Định</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="footer-widget widget-contact">
						<ul class="footer-menu">
							<li><i class="fa fa-phone"> </i> <strong>Điện thoại</strong>:
								0345 678 999</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="footer-widget widget-contact">
						<ul class="footer-menu">
							<li><i class="fa fa-envelope"> </i> <strong>Email</strong>:
								vppthinhvuong@gmail.com</li>
						</ul>
					</div>
				</div>
				<!-- footer-widget end -->

				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<h7> <b> <span>Copyright <big><sup>©</sup></big>
								The website of the development team 404 Not Found - 2021
						</span></b></h7>
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>
</html>