<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="">
<meta charset="UTF-8">

<head th:fragment="head-fragment">
<!-- Basic page needs
		============================================ -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>vvpThịnh Vượng - Trang chủ</title>
<meta name="description" content="">

<!-- Mobile specific metas
		============================================ -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Font
		============================================ -->
<link
	th:href="@{http://fonts.googleapis.com/css?family=Montserrat:400,700}"
	rel='stylesheet' type='text/css'>
<link
	th:href="@{https://fonts.googleapis.com/css?family=Pacifico&display=swap}"
	rel="stylesheet">
<!-- Favicon
		============================================ -->
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/user/img/favicon.ico}">
<link rel="stylesheet"
	th:href="@{https://use.fontawesome.com/releases/v5.7.0/css/all.css}"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

<!-- CSS  -->

<!-- Bootstrap CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">

<!-- owl.carousel CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/owl.carousel.css}">

<!-- owl.theme CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/owl.theme.css}">

<!-- owl.transitions CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/owl.transitions.css}">

<!-- font-awesome CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}">

<!-- animate CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/animate.css}">

<!-- slicknav CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/slicknav.css}">

<!-- rs-plugin CSS
		============================================ -->
<link th:href="@{/user/lib/rs-plugin/css/settings.css}" rel="stylesheet" />

<!-- normalize CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/normalize.css}">

<!-- home-5-color CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/home-5-color.css}">

<!-- main CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/main.css}">

<!-- style CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/style.css}">
<link rel="stylesheet" th:href="@{/user/css/my-style.css}">
<!-- responsive CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/user/css/responsive.css}">

<!-- modernizr js
		============================================ -->
<script th:src="@{/user/js/vendor/modernizr-2.8.3.min.js}"></script>

<script th:src="@{/user/js/load.js}"></script>
</head>
</html>