<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="">
<meta charset="UTF-8">

<head th:replace="~{/user/head :: head-fragment}">

</head>

<body class="home-5">
	<!-- header start -->
	<header th:replace="~{/user/header :: header-fragment}"> </header>
	<!-- header end -->

	<!-- corporate-area-home-5 start -->
	<div class="corporate-area-home-5">
		<div class="container">
			<div class="row">
				<!-- single-corporate start -->
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="single-corporate">
						<div class="corporate-icon">
							<i class="fas fa-truck-moving"></i>
						</div>
						<div class="corporate-text">
							<h4>Miễn phí vận chuyển!</h4>
						</div>
					</div>
				</div>
				<!-- single-corporate end -->
				<!-- single-corporate start -->
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="single-corporate">
						<div class="corporate-icon">
							<i class="fas fa-parachute-box"></i>
						</div>
						<div class="corporate-text">
							<h4>Hỗ trợ trực tuyến 24/7.</h4>
						</div>
					</div>
				</div>
				<!-- single-corporate end -->
			</div>
		</div>
	</div>
	<!-- corporate-area-home-5 end -->
	<!-- HOME SLIDER -->
	<div class="slider-wrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8">
					<div class="fullwidthbanner-container">
						<div class="fullwidthbanner4">
							<ul>
								<!-- SLIDE1  -->
								<li data-transition="random" data-slotamount="7"
									data-masterspeed="1000"><img
									th:src="@{/user/img/slider/slider-5/abc.jpg}" alt="slide">
									<div class="tp-caption large_black sfr" data-x="0" data-y="150"
										data-speed="1100" data-start="1100"
										data-easing="easeInOutBack"
										style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #FFF; font-family: Montserrat;">
										<img th:src="@{/user/img/slider/slider-5/2.jpg}" alt="">
									</div>

									<div class="tp-caption lfb carousel-caption-inner" data-x="0"
										data-y="280" data-speed="1300" data-start="1700"
										data-easing="easeInOutBack"
										style="font-family: Montserrat; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
										<a th:href="@{/shop/all}" target=""> <img
											th:src="@{/user/img/slider/slider-1/shopping.jpg}" alt="">
										</a>
									</div></li>
								<!-- END SLIDE1  -->
								<li data-transition="random" data-slotamount="7"
									data-masterspeed="1000"><img
									th:src="@{/user/img/slider/slider-5/xx.jpg}" alt="slide">
									<div class="tp-caption large_black sfr" data-x="0" data-y="130"
										data-speed="1100" data-start="1100"
										data-easing="easeInOutBack"
										style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #000; font-family: Montserrat;">
										<img th:src="@{/user/img/slider/slider-5/5.png}"
											style="opacity: 0.8;" alt="">
									</div>
									<div class="tp-caption lfb carousel-caption-inner" data-x="300"
										data-y="350" data-speed="1300" data-start="1700"
										data-easing="easeInOutBack"
										style="font-family: Montserrat; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #000;">
										<a th:href="@{/shop/all}" target=""> <img
											th:src="@{/user/img/slider/slider-1/shopping.jpg}" alt="">
										</a>
									</div></li>
								<li data-transition="random" data-slotamount="7"
									data-masterspeed="1000"><img
									th:src="@{/user/img/slider/slider-5/bbbb.png}" alt="slide">
									<div class="tp-caption large_black sfr" data-x="0" data-y="130"
										data-speed="1100" data-start="1100"
										data-easing="easeInOutBack"
										style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #000; font-family: Montserrat;">
										<img th:src="@{/user/img/slider/slider-5/5.png}"
											style="opacity: 0.8;" alt="">
									</div>
									<div class="tp-caption lfb carousel-caption-inner" data-x="300"
										data-y="350" data-speed="1300" data-start="1700"
										data-easing="easeInOutBack"
										style="font-family: Montserrat; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #000;">
										<a th:href="@{/shop/all}" target=""> <img
											th:src="@{/user/img/slider/slider-1/shopping.jpg}" alt="">
										</a>
									</div></li>
								<li data-transition="random" data-slotamount="7"
									data-masterspeed="1000"><img
									th:src="@{/user/img/slider/slider-5/bb.png}" alt="slide">
									<div class="tp-caption large_black sfr" data-x="0" data-y="150"
										data-speed="1100" data-start="1100"
										data-easing="easeInOutBack"
										style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #FFF; font-family: Montserrat;">
										<img th:src="@{/user/img/slider/slider-5/2.jpg}" alt="">
									</div>

									<div class="tp-caption lfb carousel-caption-inner" data-x="0"
										data-y="280" data-speed="1300" data-start="1700"
										data-easing="easeInOutBack"
										style="font-family: Montserrat; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
										<a th:href="@{/shop/all}" target=""> <img
											th:src="@{/user/img/slider/slider-1/shopping.jpg}" alt="">
										</a>
									</div></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 promo-home-5">

					<!-- single-promo start -->
					<div class="single-promo">
						<a th:href="@{/shop/SPN001}"> <img
							th:src="@{/user/img/promotion/c.jpg}" alt=""
							style="width: 430px; height: 220px;" />
						</a>
						<div class="title-promo">
							<b>Bút các loại</b>
						</div>
					</div>
					<!-- single-promo end -->
					<!-- single-promo start -->
					<div class="single-promo">
						<a th:href="@{/shop/SPN002}"> <img
							th:src="@{/user/img/promotion/d.jpg}" alt=""
							style="width: 430px; height: 220px;" />
						</a>
						<div class="title-promo">
							<b>Sổ - Tập</b>
						</div>
					</div>
					<!-- single-promo end -->
				</div>
			</div>
		</div>
	</div>
	<!-- HOME SLIDER END -->

	<!-- category-area start -->
	<div class="category-area-home-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="category-tab">
						<div>

							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home"
									aria-controls="home" role="tab" data-toggle="tab">Sản phẩm
										mới</a></li>
								<li role="presentation"><a href="#profile"
									aria-controls="profile" role="tab" data-toggle="tab">Sản
										phẩm bán chạy</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">
									<div class="row">
										<div class="category-curosel-home-5">

											<!-- SAN PHAM MOI-->
											<div class="col-md-4" th:each="spm : ${sanPhamMoiView}">
												<div class="single-features">

													<div class="product-img">
														<a th:href="@{/product?id={id} (id=${spm.idSanPham})}">
															<img class="first-img" style="height: 250px;"
															th:src="@{'/user/img/'+${spm.hinhAnh}}" alt="" />
														</a>

													</div>
													<div class="product-content">
														<b class="font-size-12"> <a class="m-bottom-8"
															th:href="@{/product?id={id} (id=${spm.idSanPham})}"
															th:utext="${spm.tenSP}"></a>
														</b> <span class="pro-price"
															th:text="${#numbers.formatCurrency(spm.giaTien)}"></span>
														<div class="action-buttons">
															<a class="add-to-cart"
																th:href="${'/cart/buy/'+spm.idSanPham}"> <i
																class="fa fa-shopping-cart"></i> <span>Thêm vào
																	giỏ </span>
															</a>
														</div>
													</div>
												</div>
											</div>
											<!-- SAN PHAM MOI-->

										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="profile">
									<div class="row">
										<div class="category-curosel-home-5">

											<!-- SAN PHAM BAN CHAY-->
											<div class="col-md-4" th:each="spbc : ${spBanChayView}">
												<div class="single-features">
													<div class="product-img">
														<a th:href="@{/product?id={id} (id=${spbc .idSanPham})}">
															<img class="first-img" style="height: 250px;"
															th:src="@{'/user/img/'+${spbc.hinhAnh}}" alt="" />
														</a>

													</div>
													<div class="product-content">
														<div class="pro-rating"></div>
														<b class="font-size-12"> <a class="m-bottom-8"
															th:href="@{/product?id={id} (id=${spbc.idSanPham})}"
															th:text="${spbc.tenSP}"></a>
														</b> <span class="pro-price"
															th:text="${#numbers.formatCurrency(spbc.giaTien)}"></span>
														<div class="action-buttons">
															<a class="add-to-cart"
																th:href="${'/cart/buy/'+spbc.idSanPham}"> <i
																class="fa fa-shopping-cart"></i> <span> Thêm vào
																	giỏ </span>
															</a>
														</div>
													</div>
												</div>
											</div>
											<!-- SAN PHAM BAN CHAY-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- category-area end -->

	<!-- Danh mục và sản phẩm theo danh mục -->
	<div class="features-area" th:each="nhom : ${spTheoNhomView}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="section-heading">
						<a th:href="@{/shop/{idNhom} (idNhom=${nhom.idNhom})}">
							<h3 th:text="${nhom.tenNhom}"></h3>
						</a>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="features-curosel">
					<!-- single-features start -->
					<div class="col-md-3" th:each="spTheoNhom : ${nhom.sanPham}">
						<div class="single-features">
							<div class="product-img">
								<a th:href="@{/product?id={id} (id=${spTheoNhom .idSanPham})}">
									<img class="first-img" style="height: 250px;"
									th:src="@{'/user/img/' + ${spTheoNhom.hinhAnh}}" alt="" />
								</a>
								<!-- <a class="modal-view" href="#" data-toggle="modal"
									data-target="#productModal">Xem nhanh </a> -->
							</div>
							<div class="product-content">
								<div class="pro-rating"></div>
								<br> <b> <a class="m-bottom-8"
									th:href="@{/product?id={id} (id=${spTheoNhom .idSanPham})}"
									th:utext="${spTheoNhom.tenSP}"></a>
								</b> <span class="pro-price"
									th:utext="${#numbers.formatCurrency(spTheoNhom.giaTien)}"></span>
								<div class="action-buttons">
									<a class="add-to-cart"
										th:href="${'/cart/buy/'+spTheoNhom.idSanPham}"> <i
										class="fa fa-shopping-cart"></i> <span>Thêm vào giỏ</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single-features end -->

				</div>
			</div>
		</div>
	</div>
	<!-- Danh mục -->

	<!-- Loading page -->
	<div class="bg_load"></div>
	<div class="wrapper">
		<div class="inner">
			<span>2</span> <span>0</span> <span>2</span> <span>0</span>
		</div>
	</div>
	<!-- Loading page -->

	<!-- footer start -->
	<footer th:replace="~{/user/footer :: footer-fragment}"> </footer>
	<!-- footer end -->

	<!-- JS -->

	<!-- jquery js -->
	<script th:src="@{/user/js/vendor/jquery-1.11.2.min.js}"></script>

	<!-- bootstrap js -->
	<script th:src="@{/user/js/bootstrap.min.js}"></script>

	<!-- owl.carousel.min js -->
	<script th:src="@{/user/js/owl.carousel.min.js}"></script>

	<!-- slicknav js -->
	<script th:src="@{/user/js/jquery.slicknav.js}"></script>

	<!-- countdown js -->
	<script th:src="@{/user/js/jquery.countdown.min.js}"></script>

	<!-- price-slider js -->
	<script th:src="@{/user/js/price-slider.js}"></script>

	<!-- jquery.scrollUp js -->
	<script th:src="@{/user/js/jquery.scrollUp.min.js}"></script>

	<!-- Lib js -->
	<script
		th:src="@{/user/lib/rs-plugin/js/jquery.themepunch.plugins.min.js}"></script>
	<script
		th:src="@{/user/lib/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
	<script th:src="@{/user/lib/rs-plugin/rs.home.js}"></script>

	<!-- plugins js -->
	<script th:src="@{/user/js/plugins.js}"></script>

	<!-- main js -->
	<script th:src="@{/user/js/main.js}"></script>

	<!-- Loading page -->
	<script>
		$(window).load(function() {
			$(".bg_load").fadeOut();
			$(".wrapper").fadeOut();
		})
	</script>

</body>

</html>